@import "tailwindcss";

:root {
  --background: #F5F5F5;
  --foreground: #171717;

  --color-primary-500: #0077b6;
  --color-primary-400: #00B4D8;

  --color-darkText: #222222;


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-main{
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2980b9, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
